.login-form {
  width: 20rem;
  display: flex;
  max-width: 90%;
  margin: auto;
  display: block;
}
.auth-btn {
  display: flex;
  justify-content: center;
}
.user__message {
  margin: auto;
  width: 90%;
  padding: 0.5rem;
  border: 2px solid #093833;
  background-color: #00a592;
  text-align: center;
  border-radius: 3px;
}

.user-message--error {
  border-color: red;
  background-color: rgb(252, 110, 110);
  color: white;
}
.form-control input.invalid {
  border-color: rgb(255, 16, 16);
}
@media (min-width: 768px) {
  .user__message {
    width: 30rem;
  }
}
